<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ben Walker</title>
  <meta content="" name="Ben Walker's Data analyst portfolio website, detailing the employment history, experience and portfolio projects.">
  <meta content="" name="ben, walker, data, analyst, data analyst, data, dataviz, united kingdom, UK">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="{{ url_for('index') }}#hero" class="nav-link"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="{{ url_for('index') }}#about" class="nav-link"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="{{ url_for('index') }}#resume" class="nav-link"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="{{ url_for('index') }}#portfolio" class="nav-link"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="{{ url_for('index') }}#contact" class="nav-link"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
  <main id="main">

    <!-- ======= About Section ======= -->
     
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title privacy-policy">
          <h1>Privacy Policy</h1>
          <p>
            This is a personal portfolio website and linked to any organisation. This privacy policy will explain how I use any personal data I collect from you when you use my website.
          </p>
          <br>
          <ul>
            <li>What do I collect?</li>
            <li>How do I collect your data?</li>
            <li>How will I use your data?</li>
            <li>How I store your data?</li>
            <li>What are your data protection rights?</li>
            <li>Marketing</li>
            <li>What are cookies?</li>
            <li>How to manage your cookies?</li>
            <li>Privacy policies of other websites</li>
            <li>Changes to our privacy polucy</li>
            <li>How to contact me?</li>
          </ul>
          <br>
          <h2>What do I collect?</h2>
          <p>My website does not automatically collect your information.When using the contact form the following is collected:</p>
            <ul>
              <li>Peronal identification information (Name, email address).
              <li>Any information you send in the contents of the email.</li>
              </li>
            </ul>
            <br>
            <h2>How do I collect your data?</h2>
            <p>Your data is only collected when using the voluntary contact form.</p>
            <br>
            <h2>How we I use your data?</h2>
            <p>I will use your data to respond to your message from the contact form.</p>
            <br>
            <h2>How do I store your data?</h2>
            <p>Your data will be stored in a secure email inbox until any email conversation is complete. Your data will be deleted after 14 days from your last email being received.</p>
            <br>
            <h2>Marketing</h2>
            <p>I do use any marketing firms. Your information will not be passed to any third-party marketing companies.</p>
            <br>
            <h2>What are your data protection rights?</h2>
            <p>I would to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <br>
            <p><b>The right to access -</b> You have the right to request copies of your personal data. I may charge you a small fee for this service.</p>
            <p><b>The right to rectification -</b> You have the right to request that I correct any information you believe is inaccurate. You also have the right to request I complete the information you believe is incomplete.</p>
            <p><b>The right to erasure -</b> You have the right to request that I erase your personal data, under certain conditions.</p>
            <p><b>The right to restrict processing -</b> You have the right to object to me processing your personal data, under certain conditions.</p>
            <p><b>The right to object to processing -</b> You have the right to object to me processing your personal data, under certain conditions.</p>
            <p><b>The right to data portability -</b> You have the right to request that I transfer data that we have collected to another organisation, or directly to your, under certain conditions.</p>
            <br>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact me at our email:</p>
            <br>
            <p>Write to me: info@benwalkerdata.uk</p>
            <br>
            <h2>cookies</h2>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
            <br>
            <p>For further information, visit allaboutcookies.org</p>
            <br>
            <h2>How to manage cookies</h2>
            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However in a few cases, some of our website features may not function as a result.</p>
            <br>
            <h2>Privacy policies of other websites</h2>
            <p>My website contains links to other websites. Our privacy policy applies only to our websites, so if you click on a link to another website, you should read their privacy policy.</p>
            <br>
            <h2>Changes to our privacy policy</h2>
            <p>I keep my privacy policy under regular review and place any updates on this web page. This privacy policy was last updated on 14th February 2024.</p>
            <br>
            <h2>How to contact me</h2>
            <p>If you have any questions about my privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
            <br>
            <p>Email me at: info@benwalkerdata.uk</p>
          </div>

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Ben Walker</h3>
      <p>Data Analyst | Data Consultant </p>
      <div class="social-links">
        <a href="https://mobile.twitter.com/benwalkerit" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.linkedin.com/in/benwalkerit/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/benwalkerit" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.instagram.com/benwalkerdata" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Ben Walker</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <a href={{ url_for("privacy") }}>Privacy Policy</a>
        <br>
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        <br>
        Photography by Claire Walker
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "04882042e20248dcab176034b1b2d6c6"}'></script><!-- End Cloudflare Web Analytics -->
 <!-- <script src="static/assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>